@font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/Russo_One.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* mobile 320x568, tablet 820x1180, desktop 1920×1080 */
@media screen and (min-width: 320px) {
    .wrapper {
        margin: 2% auto;
        max-width: 90%;
    }
}

@media screen and (min-width: 820px) {
    .wrapper {
        margin: 3% auto;
        max-width: 70%;
    }
}

@media screen and (min-width: 1920px) {
    .wrapper {
        margin: 5% auto;
        max-width: 55%;
    }
}

body {
    font-family: 'Russo One', sans-serif;
    background-image: linear-gradient(#eba9cb 1px, transparent 1px), linear-gradient(to right, #e79dc3 1px, #e5e5f7 1px);
    background-size: 20px 20px;
}

.wrapper {
    min-height: max-content;
}

.accordion {
    box-shadow: #d2459a 10px 10px 0 0 ;
}

.accordion:hover .item_head p,
.accordion:hover .item_head svg {
    color: #95caef;
    stroke: #95caef;
}

.accord_item {
    position: relative;
    cursor: pointer;
}

.accord_item_input {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}

.accord_item_image img {
    height: 100%;
    display: block;
    margin: 0 auto;
}

.accord_item_input {
    display: none;
}

.accord_item_image {
    height: 0px;
    overflow: hidden;
    transition: height 0.4s ease-in;
    background-color: rgb(254, 248, 252);
}

input[type=checkbox]:checked ~ .accord_item_image,
input[type=checkbox]:hover ~ .accord_item_image {
    height: 250px;
}

.item_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    cursor: pointer;
    background-color: #ed6eba;
    border: #ed6eba solid 1px;
}

.item_head p,
.item_head svg {
    padding: 5px;
}

.plusOrCross {
    width: 1.6em;
    stroke: #fff893;
}

input[type=checkbox]:checked ~ .accord_item_label .plusOrCross,
input[type=checkbox]:hover ~ .accord_item_label .plusOrCross {
    transform: rotate(45deg);
}

p {
    font-size: 1.5em;
    margin: 0;
    letter-spacing: 0.05em;
    color: #fff893;
}

h1 {
    font-size: 2em;
    letter-spacing: 0.01em;
    color: #d2459a;
}

